{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <style>
        .button-container{
            display: flex;
        }

        .btn-edit{
            margin-right: 2vw;
        }

        .page-container{
            display: flex;
            justify-content: center;
            margin-top: 20vh;
        }

        .title{
            display: flex;
            justify-content: center;
        }

        .content{
            width: 40vw;
        }
    </style>

   <div class="page-container">
       <div class="content">
           <h1 class="title">Services</h1>
           <table class="table">
               <tbody>
               <tr>
                   <th>Name</th>
                   <td>{{ service.name }}</td>
               </tr>
               </tbody>
           </table>

           <div class="button-container">
               <a role="button" class="btn btn-primary btn-edit" href="{{ path('app_service_crud_edit', {'id': service.id}) }}">edit</a>
{#               {{ include('service_crud/_delete_form.html.twig') }}#}
           </div>
       </div>
   </div>
{% endblock %}
