{% extends 'base.html.twig' %}

{% block title %}Terms of service{% endblock %}

{% block main %}
    <style>
        .page-container{
            display: flex;
            justify-content: center;
        }
    </style>
    <div class="page-container">
        <div class="terms-container">
            <p>Terms of service there</p>
        </div>
    </div>
{% endblock %}