{% extends 'base.html.twig' %}

{% block title %}Terms of service{% endblock %}

{% block main %}
    <style>
        .page-container{
            justify-content: center;
        }

        .title{
            display: flex;
            justify-content: center;
            margin-top: 18px;
        }

        .terms-container{
            margin-top: 12px;
            padding: 0 15px;
        }
        @media (max-width: 450px) {
            .terms-container{
                padding: 0 8px;
            }
        }
    </style>
    <div class="page-container">
        <div class="terms-container">
            <div class="title-container">
                <h3 class="title">Welcome to our Haircut Salon!</h3>
            </div>
            <div class="terms-container">
                <div class="terms">
                    These Terms of Service outline the rules and regulations for the use of our salon services: <br>
                    By accessing or using our services, you agree to abide by these Terms of Service. If you disagree with any part of these terms, you may not access or don`t use our services.<br>
                    1. Services <br>
                    Our salon provides haircut and styling services to our customers. These services are provided by skilled professionals trained in the latest techniques and trends in hairdressing. <br>
                    2. Appointments <br>
                    To receive services at our salon, customers must schedule an appointment in advance. Walk-in appointments may be accommodated based on availability, but priority will be given to those with appointments. <br>
                    3. Payments <br>
                    Payment for services is due at the time of service. We accept cash, credit/debit cards, and other forms of payment as specified by our salon. Prices for services are listed in our salon and may vary based on the type of service and stylist. <br>
                    4. Cancellations and Rescheduling <br>
                    If you need to cancel or reschedule your appointment, we kindly ask that you provide us with at least 24 hours' notice. Failure to do so may result in a cancellation fee or loss of deposit, depending on our salon's policy. <br>
                    5. Customer Conduct <br>
                    We strive to maintain a welcoming and professional environment for all our customers. We expect all customers to treat our staff and other customers with respect and courtesy at all times. <br>
                    6. Health and Safety <br>
                    Our salon adheres to strict health and safety guidelines to ensure the well-being of our customers and staff. Customers are required to follow any safety protocols and procedures implemented by our salon. <br>
                    7. Satisfaction Guarantee <br>
                    We want all our customers to be satisfied with their experience at our salon. If you are not satisfied with your service, please let us know, and we will do our best to address your concerns and make it right. <br>
                    8. Privacy Policy <br>
                    We respect your privacy and are committed to protecting your personal information. Our Privacy Policy outlines how we collect, use, and disclose your information when you use our services. <br>
                    9. Changes to Terms of Service <br>
                    We reserve the right to update or modify these Terms of Service at any time without prior notice. Any changes will be effective immediately upon posting on our website or other communication channels. <br>
                    By continuing to use our services after any changes to these Terms of Service, you accept and agree to be bound by the updated terms. <br>
                    Thank you for choosing our Haircut Salon. We look forward to providing you with exceptional service and helping you look and feel your best! <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}