{% extends 'base.html.twig' %}

{% block title %}Stylist Works{% endblock %}
{% block main %}
    <div {{ vue_component('StylistWorkComponent', { 'stylistsWorksArray': servicesArray }) }}></div>
{% endblock %}
