{% extends 'base.html.twig' %}

{% block title %}Hello ChooseCityController!{% endblock %}

{% block main %}
<style>
    .content-wrapper{
        margin-top: 18px;
    }

    .cards-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-img-top{
        width: 277px;
        height: 250px;
        margin-bottom: 12px;
    }

    .card{
        width: 280px;
        margin: 0 12px 24px 12px ;
        border: solid lightgray 2px;
    }

    .header{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }

    .card-title{
        margin-bottom: 18px;
    }
</style>
<div class="content-wrapper">
    <h2 class="header">Choose the city</h2>
    <div class="cards-wrapper">
        {% for city in cities %}
            <div class="card">
                <img src="{{ asset(city.photo) }}" class="card-img-top" alt={{ city.photo }}>
                <div class="card-body">
                    <h5 class="card-title">{{ city.name }}</h5>
                    <a href="{{ path('app_salon_choose', {'cityId': city.id }) }}" class="btn btn-primary">Choose</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
