
{% extends 'base.html.twig' %}

{% block title %}Our stylists {% endblock %}
{% block main %}
    <div {{ vue_component('StylistComponent', {'stylistsArray': stylistsArray}) }}></div>
{% endblock %}

