{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<style>
.header{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.button-container{
    display: flex;
}

.btn{
    margin-right: 15px;
}

.container{
    width: 500px;
}
@media (max-width: 540px) {
    .container{
        width: 90vw;
    }
}
</style>
   <div class="header" >
       <h2 >Edit User</h2>
   </div>
   {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
