{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body%}
    <style>
        .page-container{
            display: flex;
            justify-content: center;
            margin-top: 24px;
        }
        
        .container{
            width: 500px;
        }
        @media (max-width: 540px) {
            .container{
                width: 90vw;
            }
        }
    </style>
    <div class="page-container">
        <div>
            <h2>Create new User</h2>
            {{ form_start(form) }}
            <div class="container">
                {{ form_widget(form) }}
                    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}